<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="SWIFT, cal poly, csupomona, cpp, cisco, redhat, red hat, juniper, technology, computer information systems, system administrator, sysadmin, programming, security">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="300">
    <title>SWIFT TechSymposium</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69274171-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-69274171-5');
    </script>
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon.png">
</head>
<body>
{{ content }}
<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; SWIFT 2018</p>
    </div>
</footer>
</body>
</html>
